/*Added css for header class*/
.responsive {
  width: 100%;
  background-color: #ffa500;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

h2 {
  margin: 5px;
  color: black;
}

